IMPORTER_HOST=0.0.0.0
IMPORTER_PORT=3100
GLPI_IMPORT_SECRET=7f9ed4543585d6dcb31779931a97380189c13ef7c769092df17dfa2292409742
DOCKER_BIN=docker
GLPI_DOCKER_CONTAINER=glpi_app
GLPI_CONTAINER_USER=www-data
GLPI_CONSOLE_PATH=/var/www/html/glpi/bin/console
GLPI_LDAP_FILTER_ATTRIBUTE=mail
GLPI_IMPORT_COMMAND_TIMEOUT_MS=120000
